
<div class="background centralizado"  >
    <div class="titulo centralizado">
        
        <h5>
        Veja e mova o produto pela sua casa (AR)

        </h5>


        <img src="./assets/novo/cadeira.png" alt="">
        <img src="./assets/novo/tutorial.svg" alt="" style="margin-bottom: 5%">
        <div style="width: 100%">
            <app-button-ra></app-button-ra>
        </div>

        <div class="rodape centralizado">
            <img src="./assets/novo/logoRodapeIphone.png" alt="" style="width: 30%;" >
        </div>
    </div>
</div>

